@import 'tailwindcss';

html,
body,
#root {
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f5f0e8;
  color: #3d2e14;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #d4c9b0 transparent;
}
